.SideNav { 
    padding: 1.5rem;
    flex: none;
    width: 20%;
    display: block;
    >nav {
        z-index: 1;
        flex-direction: column !important;
        position: fixed !important;
        display: flex !important;
        >ul { 
            list-style-type: none;
            margin-bottom: 0;
            position: relative;
            font-size: 0.875rem;
            flex-shrink: 1 !important;
            flex-grow: 1 !important;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}