.ContentNav { 
    padding: 1.5rem;
    flex: none;
    width: 20%;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 0.875rem !important;
    >div { 
        width: 199.188px;
        top: 24px;
        bottom: 24px;
        position: fixed !important;
        overflow-x: hidden;
        overflow-y: auto;
        >nav>h3 { 
            margin-top: 0;
            font-weight: 600;
            font-size: 1rem;
        }
        >nav>ol { 
            margin: 10px 0 0;
            list-style-type: none;
            >li { 
                list-style: none;
            }
        }
    }
} 