.tree-item{ 
    &.is-leaf {
        color: #e3e3e3 !important;
        display: block;
        padding-left: 1rem;
        padding-top: 2px;
        padding-bottom: 2px;
        outline-offset: -0.125rem !important;
    }
}