nav .NavButton>a { 
    outline-offset: -0.125rem !important;
    display: block;
    padding-left: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #e3e3e3 !important;
    color: var(--primary-base);
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word;  
    &:hover { 
        text-decoration: underline;
    } 
}