.PreformatterCode { 
    pre { 
        font-size: 0.875rem;
        overflow: auto;
        border: 1px solid #454545 !important;
        background-color: #2e2e2e !important;
        font-smooth: auto;
        padding: 1rem !important;
        margin: 1rem 0 0;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        tab-size: 4;
        hyphens: none;
        -webkit-overflow-scrolling: touch;

        >code { 
            position: relative;
            border: 0;
            padding: 0;
            display: block;
            line-height: 19px;
            margin-top: -16px;

            &::before { 
                display: block;
                height: 31px;
                box-sizing: border-box;
                margin: -16px -16px 16px;
                padding: 5px 16px;
                content: ' ';
                font-weight: 400;
                font-size: 0.8rem;
                line-height: 160%;
                color: #e3e3e3;
                background-color: #242424;
                border-bottom: 1px solid #454545;
            }
        }
    }
}