div { 
    &.table-scroll-wrapper {
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.table {
    table-layout: auto;
    width: 100%;
    font-size: 0.875rem;

    caption {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 1.125rem;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: var(--border);
        text-align: right;
    }
  
  td, th {
    display: table-cell;
    word-wrap: break-word;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid var(--border);
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;

    &.nowrap{ 
        white-space: nowrap;
    }

    &.is-narrow { 
        width: 15%;
    }
    &:not([scope='row']) {
        border-top: 0;
        border-bottom: 1px;
    }

    p:first-child {
        margin-top: 0;
    }
    

  }
  
    & > caption + thead > tr:first-child > td,
    & > colgroup + thead > tr:first-child > td,
    & > thead:first-child > tr:first-child > td {
        border-top: 0;
    }
    
    & .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: var(--box-shadow-light);
    }
  
    &.min {
        width: unset;
    }
    
    &.is-left-aligned td:first-child,
    &.is-left-aligned th:first-child {
        padding-left: 0;
    }
  
    &.is-left-aligned td:first-child a,
    &.is-left-aligned th:first-child a {
        outline-offset: -0.125rem;
    }
  
    @media screen and (max-width: 767px), screen and (min-resolution: 120dpi) and (max-width: 767.9px) {
        &.is-stacked-mobile td:nth-child(1) {
            display: block;
            width: 100%;
            padding: 1rem 0;
        }
        &.is-stacked-mobile td:not(:nth-child(1)) {
            display: block;
            border-width: 0;
            padding: 0 0 1rem;
        }
    }
  
    &.has-inner-borders th,
    &.has-inner-borders td {
        border-right: 1px solid var(--border);
    }
  
    &.has-inner-borders th:last-child,
    &.has-inner-borders td:last-child {
        border-right: none;
    }
}